 /*-----------------------------------*\
   * #THEME COLORS
  \*-----------------------------------*/

  /*   Variable List
-----------------------------------*/

// Colors
$primaryColor: #0080ff ;
$secondaryColor: #ee5da8; 
$thirdColor:#ff9800;
$blackColor: #212121;
$whiteColor:#fff; 
$offwhiteColor:#e8e8e8; 
$redColor:#FF4A4A;
$greenColor: #19891f;
$yellowColor: #F5EA5A;
$textColor: #787878;
$hoverPrimary: #4654cf;

// Fonts Family
$secondaryFont: "Poppins", sans-serif;
$thirdFont: "Rajdhani", sans-serif;
$transition: all 0.3s ease-in-out;

// Border-Color
$primary-border: #e6e2e3;
$secondary-border: #5e58583b;

// background 
$primary-background: #bebbbbd4;

// Box-Shadow 
$primaryBoxShadow: 1px 1.332px 3px 1px rgba(163, 161, 161, 0.221);
$secondary-boxShadow: 1px 1.332px 4px 2px rgb(163 161 161 / 30%);

